04 Agents IA/TP4-b/morning-briefing.json
{
  "name": "Morning Briefing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 8 * * 1-5"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1600, 0],
      "notes": "Cron lun-ven 8h30. Désactivé pendant le dev."
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1600, 200],
      "notes": "Bouton Execute Workflow pour debug."
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "iterations",
              "value": 0
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Init State",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1380, 100],
      "notes": "Compteur pour la boucle de réflexion."
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "primary"
        },
        "returnAll": false,
        "limit": 3,
        "options": {
          "timeMin": "={{ $now.toISO() }}",
          "orderBy": "startTime",
          "singleEvents": true
        }
      },
      "id": "a1b2c3d4-0010-0010-0010-000000000010",
      "name": "fetch_calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [-1140, -120],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "calendar-account",
          "name": "Calendar account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a1b2c3d4-0011-0011-0011-000000000011",
      "name": "Loop Meetings",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-900, -120]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": false,
        "limit": 2,
        "filters": {
          "q": "={{ $json.attendees ? $json.attendees.map(a => 'from:' + a.email).slice(0,3).join(' OR ') + ' newer_than:14d' : 'newer_than:14d' }}"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0012-0012-0012-000000000012",
      "name": "enrich_gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-680, -200],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-account",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.summary ? $json.summary.split(' ')[0] : '' }}",
        "limit": 2,
        "filter": {},
        "options": {}
      },
      "id": "a1b2c3d4-0013-0013-0013-000000000013",
      "name": "enrich_drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-680, -40],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "drive-account",
          "name": "Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "a1b2c3d4-0014-0014-0014-000000000014",
      "name": "Merge enrich",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [-460, -120]
    },
    {
      "parameters": {
        "jsCode": "const meeting = $('Loop Meetings').item.json;\nconst mails = $('enrich_gmail').all().map(i => ({ subject: i.json.subject, snippet: i.json.snippet }));\nconst files = $('enrich_drive').all().map(i => ({ name: i.json.name, link: i.json.webViewLink }));\nreturn [{ json: { ...meeting, related_mails: mails, related_files: files } }];"
      },
      "id": "a1b2c3d4-0015-0015-0015-000000000015",
      "name": "aggregate_meeting",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-260, -120]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": false,
        "limit": 8,
        "filters": {
          "q": "is:unread newer_than:1d"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0020-0020-0020-000000000020",
      "name": "scan_inbox",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-1140, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-account",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a1b2c3d4-0021-0021-0021-000000000021",
      "name": "Loop Mails",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-900, 200]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mail :\n  De      : {{ $json.from }}\n  Sujet   : {{ $json.subject }}\n  Aperçu  : {{ $json.snippet }}\n\nCe mail est-il URGENT (action attendue dans la journée) ?\nRéponds UNIQUEMENT par un JSON : {\"urgent\": true|false, \"reason\": \"...\"}",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "a1b2c3d4-0022-0022-0022-000000000022",
      "name": "classify_urgency",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [-680, 200]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0,
          "baseURL": "https://api.groq.com/openai/v1"
        }
      },
      "id": "a1b2c3d4-0023-0023-0023-000000000023",
      "name": "LLM Groq classify",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-740, 380],
      "credentials": {
        "openAiApi": {
          "id": "groq",
          "name": "Groq"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"urgent\": true,\n  \"reason\": \"contrat à signer aujourd'hui\"\n}"
      },
      "id": "a1b2c3d4-0024-0024-0024-000000000024",
      "name": "Parser urgency",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [-580, 380]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "urgent-cond",
              "leftValue": "={{ $json.output.urgent }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0030-0030-0030-000000000030",
      "name": "IF urgent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-460, 200]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tu rédiges une réponse polie et concise en français.\nNe signe pas le mail.\n\nMail original :\n  De      : {{ $('Loop Mails').item.json.from }}\n  Sujet   : {{ $('Loop Mails').item.json.subject }}\n  Aperçu  : {{ $('Loop Mails').item.json.snippet }}\n\nProduis uniquement le corps de la réponse (texte brut, 4-6 lignes max).",
        "options": {}
      },
      "id": "a1b2c3d4-0031-0031-0031-000000000031",
      "name": "draft_body",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [-240, 100]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.3,
          "baseURL": "https://api.groq.com/openai/v1"
        }
      },
      "id": "a1b2c3d4-0032-0032-0032-000000000032",
      "name": "LLM Groq draft",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-280, 280],
      "credentials": {
        "openAiApi": {
          "id": "groq",
          "name": "Groq"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Idempotence : on ne crée un draft que si aucun draft du jour ne l'a déjà fait.\nconst today = new Date().toISOString().slice(0, 10);\nconst marker = `[briefing-${today}]`;\nconst mail = $('Loop Mails').item.json;\nconst subj = mail.subject || '';\nif (subj.includes(marker)) {\n  return [];\n}\nconst fromRaw = mail.from || '';\nconst toEmail = (fromRaw.match(/<([^>]+)>/) || [null, fromRaw])[1];\nreturn [{\n  json: {\n    to: toEmail,\n    subject: `Re: ${subj} ${marker}`,\n    body: $json.output,\n    threadId: mail.threadId\n  }\n}];"
      },
      "id": "a1b2c3d4-0033-0033-0033-000000000033",
      "name": "prepare_draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-40, 100]
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.body }}",
        "options": {
          "sendTo": "={{ $json.to }}",
          "threadId": "={{ $json.threadId }}"
        }
      },
      "id": "a1b2c3d4-0034-0034-0034-000000000034",
      "name": "create_draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [180, 100],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-account",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": false,
        "limit": 10,
        "filters": {
          "q": "newer_than:3d"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0040-0040-0040-000000000040",
      "name": "fetch_recent_mails",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-1140, 480],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-account",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst blob = items.map(i => `- ${i.json.subject || ''} | ${i.json.snippet || ''}`).join('\\n');\nreturn [{ json: { blob } }];"
      },
      "id": "a1b2c3d4-0041-0041-0041-000000000041",
      "name": "concat_blob",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-900, 480]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Aujourd'hui : {{ $now.toISODate() }}.\n\nMails récents :\n{{ $json.blob }}\n\nExtrais les deadlines explicitement mentionnées qui tombent dans les 7 prochains jours.\nSi rien n'est trouvé, renvoie un tableau vide.",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "a1b2c3d4-0042-0042-0042-000000000042",
      "name": "extract_deadlines",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [-680, 480]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0,
          "baseURL": "https://api.groq.com/openai/v1"
        }
      },
      "id": "a1b2c3d4-0043-0043-0043-000000000043",
      "name": "LLM Groq deadlines",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-740, 660],
      "credentials": {
        "openAiApi": {
          "id": "groq",
          "name": "Groq"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"deadlines\": [\n    {\n      \"deadline\": \"2026-05-05\",\n      \"sujet\": \"Livrer rapport Q2\",\n      \"source\": \"Mail de N. Dupont\"\n    }\n  ]\n}"
      },
      "id": "a1b2c3d4-0044-0044-0044-000000000044",
      "name": "Parser deadlines",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [-580, 660]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "a1b2c3d4-0050-0050-0050-000000000050",
      "name": "Merge all",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [180, 320],
      "notes": "Réunit enriched_events + urgent_mails + drafts + deadlines."
    },
    {
      "parameters": {
        "jsCode": "const enriched = $('aggregate_meeting').all().map(i => i.json);\nconst urgents = $('IF urgent').all().map(i => ({\n  from: i.json.from,\n  subject: i.json.subject,\n  reason: i.json.output?.reason\n}));\nconst drafts = $('create_draft').all().map(i => ({\n  subject: i.json.subject || i.json.message?.subject,\n  id: i.json.id\n}));\nconst deadlines = $('extract_deadlines').first()?.json?.output?.deadlines || [];\nreturn [{\n  json: {\n    date: new Date().toISOString().slice(0, 10),\n    enriched_events: enriched,\n    urgent_mails: urgents,\n    drafts_created: drafts,\n    deadlines\n  }\n}];"
      },
      "id": "a1b2c3d4-0051-0051-0051-000000000051",
      "name": "build_payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 320]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tu es un assistant de productivité. Produis un briefing matinal markdown clair et concis pour l'utilisateur, en français.\n\nSections obligatoires :\n1. Réunions du jour (avec contexte : mails et fichiers liés)\n2. Mails urgents (mention si un draft a été préparé)\n3. Deadlines de la semaine\n\nFormat : markdown, lisible en 30 secondes, listes à puces.\n\nDonnées JSON :\n{{ JSON.stringify($json) }}\n\nBriefing :",
        "options": {}
      },
      "id": "a1b2c3d4-0052-0052-0052-000000000052",
      "name": "assemble_briefing",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [620, 320]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.2,
          "baseURL": "https://api.groq.com/openai/v1"
        }
      },
      "id": "a1b2c3d4-0053-0053-0053-000000000053",
      "name": "LLM Groq assemble",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [580, 500],
      "credentials": {
        "openAiApi": {
          "id": "groq",
          "name": "Groq"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Voici un briefing matinal :\n---\n{{ $json.output }}\n---\n\nCouvre-t-il bien : (1) réunions, (2) mails urgents, (3) deadlines ?\nEst-il clair et lisible en 30 secondes ?\n\nRéponds en JSON.",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "a1b2c3d4-0054-0054-0054-000000000054",
      "name": "grade_briefing",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [840, 320]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0,
          "baseURL": "https://api.groq.com/openai/v1"
        }
      },
      "id": "a1b2c3d4-0055-0055-0055-000000000055",
      "name": "LLM Groq grade",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [800, 500],
      "credentials": {
        "openAiApi": {
          "id": "groq",
          "name": "Groq"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"ok\": true,\n  \"missing\": []\n}"
      },
      "id": "a1b2c3d4-0056-0056-0056-000000000056",
      "name": "Parser grade",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [940, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ok-cond",
              "leftValue": "={{ $json.output.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0060-0060-0060-000000000060",
      "name": "IF ok",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1060, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/REPLACE/WITH/YOUR_WEBHOOK",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($('assemble_briefing').item.json.output) }}\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0061-0061-0061-000000000061",
      "name": "post_to_slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1280, 220],
      "notes": "Remplacer l'URL par votre webhook Slack."
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "iterations",
              "value": "={{ ($('Init State').item.json.iterations || 0) + 1 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0062-0062-0062-000000000062",
      "name": "bump_counter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1280, 420]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "retry-cond",
              "leftValue": "={{ $json.iterations }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0063-0063-0063-000000000063",
      "name": "IF retry",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1500, 420],
      "notes": "Maximum 1 retry vers assemble_briefing."
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Init State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Init State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init State": {
      "main": [
        [
          {
            "node": "fetch_calendar",
            "type": "main",
            "index": 0
          },
          {
            "node": "scan_inbox",
            "type": "main",
            "index": 0
          },
          {
            "node": "fetch_recent_mails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch_calendar": {
      "main": [
        [
          {
            "node": "Loop Meetings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Meetings": {
      "main": [
        [
          {
            "node": "Merge all",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "enrich_gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "enrich_drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enrich_gmail": {
      "main": [
        [
          {
            "node": "Merge enrich",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enrich_drive": {
      "main": [
        [
          {
            "node": "Merge enrich",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge enrich": {
      "main": [
        [
          {
            "node": "aggregate_meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aggregate_meeting": {
      "main": [
        [
          {
            "node": "Loop Meetings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scan_inbox": {
      "main": [
        [
          {
            "node": "Loop Mails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Mails": {
      "main": [
        [
          {
            "node": "Merge all",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "classify_urgency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "classify_urgency": {
      "main": [
        [
          {
            "node": "IF urgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Groq classify": {
      "ai_languageModel": [
        [
          {
            "node": "classify_urgency",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parser urgency": {
      "ai_outputParser": [
        [
          {
            "node": "classify_urgency",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "IF urgent": {
      "main": [
        [
          {
            "node": "draft_body",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Mails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "draft_body": {
      "main": [
        [
          {
            "node": "prepare_draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Groq draft": {
      "ai_languageModel": [
        [
          {
            "node": "draft_body",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "prepare_draft": {
      "main": [
        [
          {
            "node": "create_draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_draft": {
      "main": [
        [
          {
            "node": "Loop Mails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch_recent_mails": {
      "main": [
        [
          {
            "node": "concat_blob",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "concat_blob": {
      "main": [
        [
          {
            "node": "extract_deadlines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract_deadlines": {
      "main": [
        [
          {
            "node": "Merge all",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "LLM Groq deadlines": {
      "ai_languageModel": [
        [
          {
            "node": "extract_deadlines",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parser deadlines": {
      "ai_outputParser": [
        [
          {
            "node": "extract_deadlines",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Merge all": {
      "main": [
        [
          {
            "node": "build_payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_payload": {
      "main": [
        [
          {
            "node": "assemble_briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "assemble_briefing": {
      "main": [
        [
          {
            "node": "grade_briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Groq assemble": {
      "ai_languageModel": [
        [
          {
            "node": "assemble_briefing",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "grade_briefing": {
      "main": [
        [
          {
            "node": "IF ok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Groq grade": {
      "ai_languageModel": [
        [
          {
            "node": "grade_briefing",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parser grade": {
      "ai_outputParser": [
        [
          {
            "node": "grade_briefing",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "IF ok": {
      "main": [
        [
          {
            "node": "post_to_slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "bump_counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bump_counter": {
      "main": [
        [
          {
            "node": "IF retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF retry": {
      "main": [
        [
          {
            "node": "assemble_briefing",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "versionId": "1.0.0",
  "id": "morning-briefing",
  "meta": {
    "templateId": "tp4b-morning-briefing",
    "description": "Agent IA Briefing matinal — runbook tp4b-n8n-morning-briefing.md (TP 4.b bis)."
  },
  "tags": [
    {
      "name": "tp4b",
      "createdAt": "2026-04-30T00:00:00.000Z"
    },
    {
      "name": "agent",
      "createdAt": "2026-04-30T00:00:00.000Z"
    }
  ],
  "pinData": {}
}
